body {
    margin: 0;
    padding: 0;    
    background-color: #37474F;    
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

.ais-header-strip {    
    top: 0;
    height: 3px;
    width: 100%;
    background-color: #73c3c8;
    display: block;
}

.ais-header-banner {
    background-color: rgb(24, 71, 93, 0.6);
    padding: 10px;
    width: auto;
    border-bottom: 3px solid #73abd8;        
}
.ais-header-logo img{
    height: 64px;
    margin-bottom: 0px;
}
.ais-main {
    padding: 0;
}

.error {
    color: #df382c;
    size: 12pt;
}
.flexigrid div.fbutton .add {
    background: url('../images/add.png') no-repeat center left;
}
.flexigrid div.fbutton .edit {
    background: url('../images/edit.png') no-repeat center left;
}
.flexigrid div.fbutton .delete {
    background: url('../images/close.png') no-repeat center left;    
}

.wrapper {
    background: url('../images/ao.gif') repeat;
    background-attachment: fixed;
    background-color: #77bbdd;
    margin: 0;
    padding: 0;
    width: auto;    
    position: relative;
    display: block;    
}

input[type='file'].hidden_pic {
    margin: 0;
    padding: 0;    
    top: 0;
    right: 0;
    height: 100%;    
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    filter: Alpha(Opacity=0);
}

.hiddenFileInputContainter {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 110px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;    
}

#imgupload {
    max-width: 100%;
    height: 110px;
    background-position: center center;
    border-radius: 1px;
    background-size: cover;
}

.thumb-image{
/*    float:left;*/
    max-width:100%;
    height:200px;
    position:relative;
    padding:5px;
}

footer{
    margin: 0; padding: 10px;
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d2e3ec;
    background-color: #f3f3f3;
    font-size: 12px;
}